/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header1 {
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 3px black;
  -webkit-animation: blink 0.5s linear infinite;
  -moz-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite;
}
.header2 {
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 3px black;
}

.btn {
  background: #99CCFF;
  box-shadow: 1px 1px 1px black;
}
.answer-list {
  font-size:25px;
}
.answer-description {
  font-size:15px;
  list-style: disc;
}

@keyframes blink {  
    0% { color: red; }
    33% { color: blue; }
    66% { color: green; }
    100% { color: yellow; }
}
@-webkit-keyframes blink {
    0% { color: red; }
    33% { color: blue; }
    66% { color: green; }
    100% { color: yellow; }
}
